h2 {
  font-family: SF Pro Display, Roboto, serif;
  font-size: 20px;
  line-height: 29px;
  font-weight: 300;
}

.radio-field label {
  font-family: Roboto, serif;
  font-size: 13px;
  display: inline-block;
}

.radio-field input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("src/assets/img/uncheckedRadio.svg");
  transition: 300ms ease-out;
}

.radio-field input[type=radio]:checked {
  background-image: url("src/assets/img/checkedRadio.svg");
}

.radio-field input[type="radio"]:active {
  transform: scale(.3);
}

.radio-field input[type=radio]:focus {
  outline: none;
}
